/* ريست بسيط وتوحيد الخط */
* {
    padding: 3px;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background: rgb(241,231,231);
}

/*-----------------------------navbar-----------------------------*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #19596d;
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-wrap: wrap;
    padding: 5px 10px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px; /*المسافة بين العناصر*/
}

.toggle-sidebar{
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    display: none; /* تُظهر للموبايل  */
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-icons i {
    color: #fff;
    font-size: 20px;
    margin: 0 5px;
}

.search-toggle i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none; /* تُظهر للموبايل  */
}

.search-box {
    background: #efefef;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    transition: max-width 0.3s ease;
    max-width: 350px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    border: 0;
    outline: none;
}

.search-box i {
    font-size: 18px;
    margin: 0 5px;
}


.user-img img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.online {
    position: relative;
}

.status {
    position: absolute;
    top: 13px;
    right: 13px;
    width: 5px;
    height: 5px;
    background-color: #4caf50;
    border: 1px solid white;
    border-radius: 50%;
    z-index: 2;
}

/*-----------------------------------------contenar--------------------------------*/
.contenar {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
    position: relative;
}


/* -----------------------------------------Left Sidebar**(quiz)*----------------------------------*/


.left-side {
    flex-basis: 20%;
    background-color: #fff;
    border-radius: 6px;
    min-width: 200px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;
    z-index: 999;
}

.questions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 6px;
    padding: 20px;
}

.questions-container h2 {
    font-size: 26px;
    font-weight: bold;
    color: #19596d;
    margin-bottom: 20px;
    border-bottom: 2px solid #d0d0d0;
    padding-bottom: 10px;
}

.questions-list {
    list-style: none;/*تزيل العلامات بجانب القائمة*/
    padding: 0;
    margin: 0;
}

.questions-list li {
    margin-bottom: 15px;
    border-bottom: 1px solid #d0d0d0;/*خط فاصل بين الروابط*/
    padding-bottom: 10px;
}

.questions-list a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #00796b;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.questions-list a i {
    margin-right: 10px;
    color: yellow;
    font-size: 20px;
}

.questions-list a:hover { /*التاثير عند التاشير على الزر*/
    background-color: #e0f7fa;
    color: #004d40;
    transform: translateX(10px);/*تحريك الزر عند التاشير عليه*/
}

.questions-list a:hover i {/*التاثير عند التاشير على الزر*/
    color: #004d40;
}


/*---------------------------------------------Right Sidebar------------------------------------------------*/


.right-side {
    display: flex;
    background: rgb(241,231,231);
    flex-basis: 20%;
    align-self: flex-start;
    border-radius: 6px;
    justify-content: end;
    min-width: 200px;
    position: relative;
    z-index: 1;
}

.center-container {
    background: rgb(241,231,231);
    display: grid;
    gap: 40px;
    justify-content: flex-end;
}

.rounded-button {
    width: 200px;
    height: 60px;
    border-radius: 35px;
    background-color: #19596d;
    color: darkgrey;
    border: none;
    cursor: pointer;/*تغيير شكل المؤشر غند التمرير*/
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: end;
    transition: transform 0.3s ease;
}

.rounded-button i {
    color: #19596d;
    font-size: 20px;
}

.rounded-button:hover {
    background-color: #e0f7fa;
    transform: translateX(10px);
    color: #004d40;
}

.icon-container {
    width: 40px;
    height: 40px;
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-left: 10px;
}

/*-------------------------------main-contenar------------------------*/
.main-contenar {
    flex-basis: 50%;
    min-width: 300px;
}
/*-------------------------------yoser-profil------------------------*/
.yoser-profil {
    width: 98%;
    background: white;
    border-radius: 6px;
    color: #626262;
    display: flex;
    align-items: center;
    padding: 10px;
}
/*-------------------------------new-Post------------------------*/
.new-Post {
    width: 95%;
    background: white;
    border-radius: 6px;
    padding: 20px;
    margin-top: 10px;
}

.new-Post-round2 {
    display: flex;
    align-items: center;
}

.new-Post-round2 img {
    width: 45px;
    border-radius: 50%;
}

.link-video i {
    color: red;
    margin-right: 3px;
}

.link-camera i {
    color: rgb(3, 179, 56);
    margin-right: 3px;
}

.link-smile i {
    color: rgb(216, 216, 20);
    margin-right: 3px;
}

.post-input {
    padding-left: 55px;
    padding-top: 10px;
}

.post-input textarea {
    width: 100%;
    outline: 0;/*الغاء الخط الخارجي*/
    border: 0;
    border-bottom: 1px solid #ccc;
    resize: none;/*تكون غير قابله للتكبير*/
}

.post-input-link {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.post-input-link a {
    color: #626262;
    text-decoration: none;
}
/*----------------------*/
.post-button {
    background-color: #4CAF50; /* لون الخلفية */
    color: white; /* لون النص */
    padding: 5px 10px; /* تقليل المسافة حول النص */
    border: none; /* بدون حدود */
    border-radius: 3px; /* حواف مدورة بشكل بسيط */
    cursor: pointer; /* تغيير المؤشر عند التمرير فوق الزر */
    font-size: 14px; /* حجم الخط أصغر */
    float: right; /* وضع الزر في الزاوية اليمنى */
    margin-top: 5px; /* مسافة صغيرة بين الزر والمحتويات */
}

.post-button:hover {
    background-color: #45a049; /* تغيير اللون عند التمرير على الزر */
}
/*-----------------------post--------------------*/
.posting {
    width: 100%;
    background: white;
    border-radius: 6px;
    margin: 20px 0;
    color: #4d4c4c;
}

.head-post {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
}

.head-post i {
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.post {
    padding: 25px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.post a {
    color: indigo;
    text-decoration: none;
}

.post-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.like-comment-share {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.like-comment-share .icons div {
    display: inline-flex;
    align-items: center;
    margin-left: 120px;
    margin-top: 10px;
}

.like-comment-share .icons div i {
    font-size: 28px;
    margin-left: 28px;
}

hr {
    color: black;
}


/* -------------------Mobile--------------------*/


.bottom-nav {
    display: none; /* تظهر للشاشات الصغيرة  */
}



@media (max-width: 480px) {
    .toggle-sidebar {
        display: inline-block;
    }
    .nav-icons,
    .search-box,
    .user-img,
    .status {
        display: none;
    }
    .search-toggle {
        display: inline-block;
        color: #fff;
    }
    .search-box.show {
        display: flex !important;
        position: absolute;
        top: 60px;
        left: 10px;
        right: 10px;
        background: #fff;
        border-radius: 30px;
        max-width: none;
    }
    .contenar {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .left-side {
        transform: translateX(-100%);
        opacity: 0;
        position: absolute;
        top: 55px;
        left: 0;
        width: 70%;
        max-width: 250px;
    }
    .left-side.active {
        transform: translateX(0);
        opacity: 1;
        background: #fff;
    }
    .right-side {
        display: none;
    }
    .bottom-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0; right: 0;
        background: #19596d;
        padding: 10px 0;
        z-index: 999;
    }
    .bottom-nav a {
        color: #fff;
        font-size: 22px;
        text-decoration: none;
    }
    .like-comment-share .icons div {
        margin-left: 0;
    }
    .like-comment-share .icons div i {
        font-size: 20px;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
    .toggle-sidebar {
        display: inline-block;
    }
    .nav-icons {
        display: flex;
    }
    .search-toggle {
        display: inline-block;
    }
    .user-img,
    .status {
        display: none;
    }
    .right-side {
        display: none;
    }
    .bottom-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0; right: 0;
        background: #19596d;
        padding: 10px 0;
        z-index: 999;
    }
    .bottom-nav a {
        color: #fff;
        font-size: 22px;
        text-decoration: none;
    }
    .left-side {
        transform: translateX(-100%);
        opacity: 0;
        position: absolute;
        top: 55px;
        left: 0;
        width: 200px;
    }
    .left-side.active {
        transform: translateX(0);
        opacity: 1;
        background: #fff;
    }
    .contenar {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .like-comment-share .icons div i {
        font-size: 22px;
    }
}


@media (min-width: 769px) {
    .toggle-sidebar {
        display: none;
    }
    .nav-icons {
        display: flex;
    }
    .search-toggle {
        display: none;
    }
    .search-box {
        display: flex;
    }
    .user-img,
    .status {
        display: inline-block;
    }
    .bottom-nav {
        display: none;
    }
    .right-side {
        display: flex;
        position: sticky;
        top: 70px;
    }
    .contenar {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    .left-side {
        position: static;
        transform: translateX(0);
        opacity: 1;
    }
}

