body{
    background-image: url('../../assets/Backgraound.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
   
}


