body{
    background-image: url("462581850_3951842258384795_7925627361267506516_n.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    max-width:  100%;
    height: auto;
}
.login{
position: absolute;
margin: 3% 0% 5% 10% ;
border: 5px solid hsl(0, 4%, 20%);
max-width:100%;
height: audio;
border-radius: 4%;
transition: 0.5s ease;
padding: 3%;
}


.login:hover{

    box-shadow: 1% 1% 10%  #333;
}


.avatar{
    border-radius:50%;
   margin-left: 15%;
   width: 60%;
   height:40%;
   
}
.title-log-in{
font-size: 4vw;
font-weight: bold;
letter-spacing: 1%;
margin-top: -3%;
margin-left: 25%;
 color: #817e7e;

}
.form-floating{
    position: relative;
    margin: 5% 0%;
}
.form-floating input {
width: 100%;
padding:4% 0;
box-sizing: border-box;
font-size: 3vh;
border: none;
padding-left:10%;
border-bottom: 2px solid #b3b3b3;
}
.form-floating input:focus{
border-bottom:2% solid #333;
border-radius:2%;
} 

.btn {
    font-size: 2vw ;
    color: #413d3d;
    width: 100%;
    height: 10%;
    border-radius:10px ;
    transition: 0.5s ease;  
    cursor: pointer; 
}
.btn:hover{
    background-color: #817e7e;
  color: #070505; 
}
.remember{
margin-top: 10%;
}

a{
    margin-left: 15%;
}
